<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <title>Document</title>
</head>
<body>

    <input type="text" class="message">
    <button onclick="sendMessage()">Send message</button>
    <h1></h1>
    <script>
        const socket = io('http://localhost:2000');
        socket.on("connection");

        socket.on('message', (data) =>{
            document.querySelector("h1").innerHTML = data;
        })

        const sendMessage = ()=>{
            const messageInput = document.querySelector('.message');
            const message = messageInput.value;
            socket.emit('message',message);
        }
    </script>
</body>
</html>